<!DOCTYPE html>

<html>

<body>
	<div style="text-align:center;">
		<form style="padding: 5% 10%;">
			<div class="form-group">
				<label>Enter your query or modification here.
					When you are finished, please click submit!</label>
				<textarea #querybox class="form-control" type="input" rows="15"></textarea>
			</div>
		</form>
		<button type="button" class="btn btn-danger btn-lg" id="btn" (click)="submitForm(querybox.value)">Launch the missles!</button>
	</div>
</body>
<footer style="padding:5% 10% 1%;">
	<div style="text-align:center;">
		<div class="card-text" style="font-size:12px;">
			<p>
				If you are having issues with the page not doing anything,
				it might be due to parentheses in your query or modification.
				<br>This is an issue with Angular itself where parentheses are not
				encoded into the URL like they should be.
				<br>If you would like to still test our backend function and our patterns,
				feel free to directly type into the url bar in the following format:
				<br> <br>
				"beertap.me/api/query/yourQueryHere"
			</p>
		</div>
	</div>
</footer>

</html>