<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{barName}}</h1>
    <p class="bar-details" *ngIf="barDetails">
      {{barDetails?.ADDRESS}} 
      <span *ngIf = "barDetails.ADDRESS && barDetails.CITY"> |
      </span>
        {{barDetails?.CITY}}, {{barDetails?.STATE}}
      <br>
      {{barDetails?.ZIPCODE}}
      
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div id ="spendersgraph"></div>
</div>

<div class="container">
    <br>
    <div id ="bestBeersGraph"></div>
  </div>

<!-- <h6 align="center">
  Best beers
  <br>
</h6>
  <div class="container">
      <form (ngSubmit)="submit()">
            <fieldset>
                <div class="form-group">
                    <label for="dateOfBirth">Pick a Date:</label>
                    <p-calendar [(ngModel)]="date" dateFormat="mm/dd/yy" [inline]="false" id="date" name="date"></p-calendar>
                  {{date|date:"MM/dd/yyyy"}}
                  </div>
            </fieldset>
        </form>
    </div> -->