<!DOCTYPE html>

<html>

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Beer TAP!</h1>
    <p class="lead">
      Your one stop destination for all your alcoholic needs!
    </p>
  </div>
</div>

<div class="container">

		<p-table [value] = "bars">
				<ng-template pTemplate="header">
					<tr>
						<th>Name</th>
						<th>License</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-bar>
					<tr>
						<td>
							<a routerLink="/bars/{{bar.BAR_NAME}}">
								{{bar.BAR_NAME}}
							</a>
						</td>
						<td>{{bar.LICENSE}}</td>
						<td>{{bar.ADDRESS}}</td>
						<td>{{bar.CITY}}</td>
						<td>{{bar.STATE}}</td>
					</tr>
				</ng-template>
		</p-table>

		<br><br>
</div>

<!--
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>License</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zipcode</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let bar of bars; index as i">
				<td>{{ i + 1 }}</td>
				<td>{{ bar.BAR_NAME }}</td>
				<td>{{ bar.LICENSE }}</td>
				<td>{{ bar.ADDRESS }}</td>
				<td>{{ bar.CITY }}</td>
				<td>{{ bar.STATE }}</td>
				<td>{{ bar.ZIPCODE }}</td>
			</tr>
		</tbody>
	</table>
</div>
-->
</body>

</html>