<!DOCTYPE html>

<html>

<body>
<!--
<div class="container">
  <div class="dropdown">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngFor="let drinker of drinkers; index as i">
        <a class="dropdown-item" href="/drinker/{{ drinker.DRINKER_NAME }}/">{{ drinker.DRINKER_NAME }}</a>
      </div>
      <p-dropdown [options]="drinkers" [(ngModel)]="selectedDrinker" [filter]="true">Select a drinker</p-dropdown>
    </div>
  </div>
</div>
-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Select a drinker for details</h1>
  </div>
</div>

<br>
<br>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of drinkers; index as i">
          <td><a routerLink="/drinker/{{ d.DRINKER_NAME }}/" style="display:block;text-decoration:none;">{{ d.DRINKER_NAME }}</a></td>
          <td>{{ d.ADDRESS }}</td>
          <td>{{ d.CITY }}</td>
          <td>{{ d.STATE }}</td>
          <td>{{ d.ZIPCODE }}</td>
          <td>{{ d.PHONE }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>